<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780762296475-1v3f519kp968kel841n507kabji8ko50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780762296475-1v3f519kp968kel841n507kabji8ko50</string>
	<key>API_KEY</key>
	<string>AIzaSyBrruVW8eHOql9gyi6HThnBtV3EgrYWVJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>780762296475</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tikipap</string>
	<key>PROJECT_ID</key>
	<string>tikipop-d76b3</string>
	<key>STORAGE_BUCKET</key>
	<string>tikipop-d76b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780762296475:ios:ca2f04e6eea7d03da6963e</string>
</dict>
</plist>